@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}
/* Reset Ends */
/* General Styling */
:root {
    --header-fonts: "Playfair Display", "Times New Roman", Times, serif;
    --teal-one: #00bca8;
    --teal-two: #00978a;
    --teal-three: #00786f;
    --teal-four: #005f5a;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero */
.hero {
    display: flex;
    flex-wrap: wrap;
}

.hero-img-container {
    margin: 2rem;
    position: relative;
}

.hero-img {
    min-width: 6rem;
    height: auto;
}

.hero-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    bottom: 1rem;
    color: white;
    font-family: var(--header-fonts);
    font-size: 3.5rem;
    font-weight: 400;
}

.hero-about-container {
    margin: 0 2rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text {
    margin-bottom: 1rem;
}

.hero-icons-container {
    align-self: last baseline;
    display: flex;
    gap: 0.5rem;
    padding-right: 1rem;
}

.hero-icon {
    width: 1.5rem;
    height: auto;
}

.hero-icon:hover {
    cursor: pointer;
}

/* Projects Section */
.projects-section {
    margin: 2rem;
}

.projects-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.project-card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.project-img {
    object-fit: cover;
}

.project-header-container {
    display: flex;
    justify-content: space-between;
}

.project-title {
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.project-icons-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-right: 1rem;
}

.project-icons-container:hover {
    cursor: pointer;
}

.project-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.project-description {
    padding: 0 1rem 1rem 1rem;
}

/* Footer Styling */
.footer-image {
    min-width: 6rem;
    height: auto;
}

@media (min-width: 768px) {
    .hero-img {
        max-width: 300px;
    }
    .hero-name {
        font-size: 3rem;
    }
    .hero-icon {
        width: 1rem;
        height: auto;
    }
    .hero-about-container {
        margin-left: 0;
    }
    .projects-header {
        align-items: start;
    }
    .project-icon {
        width: 1rem;
        height: 1rem;
    }
    .footer-image {
        max-width: 300px;
    }
}
